*{
    padding: 0%;
    margin: 0px;
}
.cntainer
{
    background-color: aquamarine;
    margin: 5rem 1rem;
    padding: 1rem;
}
.main
{
    background-color: beige;
    margin: 1rem 6rem;
    padding: 1rem;
    
}
{}
{}
{}